html {
  height: 100%;
}

body {
	background: #C6C6AA;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-size: 30px;
	background-color: #FF99CC;
	font-family:'Montserrat', sans-serif;
	height: 100px;
	border: 1px solid black;
	margin: 0 auto;
	padding-bottom: 20px;
}

#avatar  {
	height: 200px;
	width: 200px;
	margin-left: -127px;
}

img {
	border-radius: 30px;
	border-color: 3px solid black;
}

#input {
	text-align: center;
	margin-top: 30px; 
	margin-left: 500px;
	width: 400px;
  height: 30px;
	border-color: 2px solid white;
	outline: none;
}

#input [type="text"] {
	text-align: center;
	color: black;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	border: none;
	border-bottom: 3px solid black;
	
}

::-webkit-input-placeholder {
  color: black;
}

button {
	color: black;
	background: #FF99CC;
	font-family:'Montserrat', sans-serif; 
	border-radius: 7px;
	height: 35px;
	width: 90px;
}

#followers {
	/*margin-left: -127px;*/
	height: 50px;
	margin-top: 30px;
	width: 150px;
	border: 1px solid black;
	border-radius: 7px;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
	font-color: #00CC99;
	background-color: #0066FF; 
}

#following {
	margin-left: 140px;
	margin-top: 30px;
	height: 50px;
	width: 150px;
	margin-top: -50px;
	border: 1px solid red;
	border-radius: 10px;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
	font-color: #00CC99;
	background-color: #0066FF; 
}

#numRepos {
	margin-left: 657px;
	height: 50px;
	width: 150px;
	margin-top: 70px;
	border: 1px solid red;
	border-radius: 10px;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
	font-color: #00CC99;
	background-color: #0066FF;

}


#numOrg {
	margin-left: 763px;
  margin-top: 28px;
	height: 50px;
	width: 150px;
	border: 1px solid red;
	border-radius: 10px;
	font-family:'Montserrat', sans-serif;
	font-size: 15px;
	font-color: #00CC99;
	background-color: #0066FF; 
}

#list {
	margin-left: 795px;
	margin-top: -405px;
	font-weight: bold;
	font-size: 13px;
	width: 350px;
	height: 204px;
	font-color: #00CC99;
	overflow: scroll;
	font-family: 'Montserrat', sans-serif; 
}

#p1 {
	margin-top: 7px;
	font-size: 20px;
	font-color: ;
}

#error {
	font-family: 'Montserrat', sans-serif; 
	font-size: 40px;
	font-style: italic;
	color: #0066FF;
	font-weight: bold;
	text-align: center;
}

#users {
	margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60%;
    background-color: #b0e0e6;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: #FF00FF;
}
a:active {
    color: #0000FF;

    